<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/index.css" />
    <title>Sign In</title>
  </head>
  <body>
    <header>
      <h1>Ze Blog</h1>
      <nav>
        <a href="/">Home</a>
        <a href="authentification">SignIn</a>
        <a href="subscribe">Subscribe</a>
      </nav>
    </header>
    <main class="container"></main>
    <footer>
      <p>By BenMen</p>
    </footer>
  </body>
</html>
