<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
      integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="/css/index.css" />
    <title>ERROR 404</title>
  </head>
  <body>
    <header>
      <h1>Ze Blog</h1>
      <nav>
        <a href="/">Home</a>
        <a href="/authentification">SignIn</a>
        <a href="/subscribe">Subscribe</a>
        <a href="/admin">ADMIN</a>
      </nav>
    </header>
    <div class="back_home">
      <a href="/"><i class="fa-solid fa-arrow-left"></i> Back to home</a>
    </div>
    <main class="container">
      <h2>ERROR 404 / PAGE INTROUVABLE</h2>
    </main>
    <footer>
      <p>By BenMen</p>
    </footer>
  </body>
</html>
