<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
      integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="/css/index.css" />
    <title>Liste des articles</title>
  </head>
  <body>
    <header>
      <a href="/admin"><h1>Back Office</h1></a>
      <nav>
        <a href="/admin/story">Gérer les articles</a>
        <a href="/admin/category">Gérer les catégories</a>
      </nav>
    </header>
    <div class="back_home">
      <a href="/"><i class="fa-solid fa-arrow-left"></i> Back to home</a>
    </div>
    <main class="container admin_list">
      <h2>Stories List</h2>
      <a href="/admin/story/create">Create a new story</a>

      <table>
        <tr>
          <th>Id</th>
          <th>Titke</th>
          <th>Content</th>
          <th>Actions</th>
        </tr>

        <% for (const story of stories) {%>
        <tr>
          <td><%= story.id %></td>
          <td><%= story.title %></td>
          <td><%= story.content.substring(0, 30) %>...</td>
          <td>
            <a href="/admin/story<%= story.id  %>">Edit</a>
            <a href="/admin/story/delete/<% story.id %>">Delete</a>
          </td>
        </tr>
        <% } %>
      </table>
    </main>
    <footer>
      <p>By BenMen</p>
    </footer>
  </body>
</html>
